@use '~/styles/utils' as utils;

.column {
  align-items: center;
}

.drawer {
  padding: 1.5rem;
  min-width: 30rem;
  font-size: 1.6rem;

  &Item {
    display: block;

    color: utils.$primary-text-color;

    font-size: 1.6rem;
    text-decoration: none;

    &:global(.active) {
      color: utils.$secondary-text-color;
      font-weight: bold;
    }
  }
}

.home {
  display: inline-block;

  color: utils.$primary-text-color;

  font-size: 3rem;
  text-decoration: none;
}

.nav {
  margin-left: 2rem;

  &Item {
    margin-left: 2rem;

    color: utils.$primary-text-color;

    font-size: 1.6rem;
    text-decoration: none;

    &:global(.active) {
      color: utils.$secondary-text-color;
      font-weight: bold;
    }
  }
}

@include utils.breakpoint(lg) {
  .home {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 2.5rem;

    transform: translate(-50%, -50%);
  }

  .nav {
    margin-left: 1rem;

    &Item {
      margin-left: 1rem;
    }
  }
}
