@use '~/styles/utils' as utils;

.booking {
  margin-top: 15rem;

  &__container {
    max-width: 1400px;
  }

  &__row {
    @include utils.flexBox(space-between, flex-start, row);
  }
}

.gallery {
  @include utils.flexBox(space-between, flex-start, column);
  flex-basis: 35%;
  width: 35%;

  &-list {
    margin-top: 2rem;
    width: 100%;

    &__item {
      &:hover {
        cursor: pointer;
      }

      &--selected {
        border: solid 2px #6f76f7;
      }
    }

    img {
      @include utils.boxSize(100%);
      display: block;
    }

    & :global(.swiper) {
      height: 8rem;
    }
  }

  &-spec {
    width: 100%;

    img {
      @include utils.boxSize(100%, 40rem);
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }
}

.summary {
  flex-basis: 60%;
  width: 60%;

  h3 {
    font-size: 4rem;
    font-weight: 400;
  }

  button {
    margin-top: 4rem;
    border: none;
    min-height: 5rem;
    min-width: 20rem;
    background-color: #000;
    color: #fff;
    transition: utils.$transition-02-effect;

    &:hover {
      cursor: pointer;
      background-color: utils.$secondary-color;
      color: #000;
    }
  }
}

.table {
  margin-top: 2rem;
  width: 100%;
  font-size: 1.6rem;
  text-align: left;

  th {
    padding: 1.5rem 0;
    font-weight: 400;
    width: 20%;
  }

  td {
    padding: 1.5rem 2rem;
  }

  &__code {
    font-style: italic;
    color: utils.$secondary-text-color;
  }

  &-price {
    background-color: #fafafa;
    color: #f00;
    font-size: 3.5rem;

    del {
      margin-right: 1.5rem;
      color: utils.$secondary-text-color;
      font-size: 2rem;
      text-decoration: line-through 1px utils.$secondary-text-color;
    }
  }

  &-quantity {
    @include utils.flexCenter(ver);

    &__box {
      @include utils.flexCenter(ver);
      @include utils.boxSize(30%, 3.5rem);
      border: solid 2px utils.$border-primary-color;
    }

    input {
      @include utils.boxSize(60%, 100%);
      margin: 0 0.5rem;
      padding: 0.5rem;
      border: none;
      border-left: solid 2px utils.$border-primary-color;
      border-right: solid 2px utils.$border-primary-color;
      text-align: center;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
      }
    }

    &__btn {
      @include utils.flexCenter();
      @include utils.boxSize(3.5rem);
    }

    p {
      margin-left: 1.5rem;
      color: utils.$border-primary-color;
      font-style: italic;
      font-size: 1.2rem;
    }
  }
}

@include utils.breakpoint(xl) {
  .booking__container {
    max-width: 1200px;
  }
}

@include utils.breakpoint(lg) {
  .booking {
    &__container {
      max-width: 992px;
    }

    &__row {
      flex-direction: column;
    }
  }

  .gallery,
  .summary {
    flex-basis: 100%;
    width: 100%;
  }

  .summary {
    margin-top: 5rem;
  }
}

@include utils.breakpoint(md) {
  .booking__container {
    max-width: 768px;
  }
}

@include utils.breakpoint(sm) {
  .booking__container {
    max-width: 576px;
  }

  .table {
    &-price {
      font-size: 2.5rem;

      del {
        font-size: 1.5rem;
      }
    }

    &-quantity {
      flex-direction: column;

      &__box {
        @include utils.flexCenter(ver);
        @include utils.boxSize(100%, 3.5rem);
        border: solid 2px utils.$border-primary-color;
      }

      p {
        margin-top: 1.5rem;
      }
    }
  }
}

@include utils.breakpoint(xs) {
  .booking__container {
    max-width: 100%;
  }
}
