@use '~/styles/utils' as utils;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  
  background-color: #fff;

  &--isScrolled {
    box-shadow: 0 0.2rem 0 utils.$border-secondary-color;
  }
}

.container {
  max-width: 1400px;
}

.row {
  @include utils.flexBox(space-between, center, row);
  height: 10rem;
}

@include utils.breakpoint(xl) {
  .container {
    max-width: 1200px;
  }
}

@include utils.breakpoint(lg) {
  .container {
    max-width: 992px;
  }
}

@include utils.breakpoint(md) {
  .container {
    max-width: 768px;
  }
}

@include utils.breakpoint(sm) {
  .container {
    max-width: 576px;
  }
}

@include utils.breakpoint(xs) {
  .container {
    max-width: 100%;
  }
}
