*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

input,
button,
textarea {
  outline: none;
  background-color: transparent;
}
