@use '~/styles/utils' as utils;

.result {
  flex-basis: 75%;
  width: 75%;

  &Title {
    @include utils.flexBox(space-between, center, row);
    margin-bottom: 3rem;

    h3 {
      font-size: 2.5rem;
    }
  }

  &Pagination {
    margin-top: 3rem;

    & :global(.MuiPagination-ul) {
      justify-content: center;
    }

    & :global(.MuiButtonBase-root) {
      font-size: 1.6rem;
      color: utils.$secondary-text-color;
    }

    & :global(.Mui-selected) {
      color: utils.$primary-text-color;
    }
  }
}

@include utils.breakpoint(md) {
  .result {
    flex-basis: 100%;
    width: 100%;
  }
}

@include utils.breakpoint(sm) {
  .result {
    flex-basis: 100%;
    width: 100%;
  }
}
