$primary-color: #fff;
$secondary-color: #f7f7f7;
$third-color: #fefaf3;
$emphasize-color: #f34f3f;

$border-primary-color: #ccc;
$border-secondary-color: #eee;
$button-primary-color: #000;

$primary-text-color: #000;
$secondary-text-color: #aaa;
$third-text-color: #888;
