@mixin boxSize($width: '1rem', $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexBox($justify: flex-start, $align: flex-start, $direct: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direct;
  flex-wrap: $wrap;
}

@mixin flexCenter($pos: cen) {
  display: flex;

  @if $pos == cen {
    align-items: center;
    justify-content: center;
  }

  @if $pos == ver {
    align-items: center;
  }

  @if $pos == hor {
    justify-content: center;
  }
}

@mixin breakpoint($bp) {
  @if $bp == xl {
    @media only screen and (max-width: calc($xxl - 1px)) {
      @content;
    }
  } @else if $bp == lg {
    @media only screen and (max-width: calc($xl - 1px)) {
      @content;
    }
  } @else if $bp == md {
    @media only screen and (max-width: calc($lg - 1px)) {
      @content;
    }
  } @else if $bp == sm {
    @media only screen and (max-width: calc($md - 1px)) {
      @content;
    }
  } @else if $bp == xs {
    @media only screen and (max-width: calc($sm - 1px)) {
      @content;
    }
  }
}
