@use '~/styles/utils' as utils;

.products {
  margin-top: 15rem;
  max-width: 1400px;

  &__row {
    @include utils.flexBox(space-between, flex-start, row);
  }
}

.filter {
  flex-basis: 20%;
  width: 20%;

  &__title {
    text-align: center;
    font-size: 2.5rem;
  }

  &-box {
    margin: 2.5rem 0;

    &__title {
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
    }

    &__item {
      justify-content: space-between;
      margin-top: 1rem;

      & :global(.MuiTypography-root) {
        font-size: 1.6rem;
      }

      & :global(.MuiSvgIcon-root) {
        @include utils.boxSize(2rem);
        color: #aaa;
      }
    }

    &__slider {
      margin-top: 1.5rem;

      & :global(.MuiSlider-rail) {
        background-color: #aaa;
      }

      & :global(.MuiSlider-track) {
        height: 20%;
        background: #a224d4;
      }
    }
  }

  &-price {
    @include utils.flexBox(space-between, center, row);

    &__div {
      @include utils.boxSize(5%, 1px);
      background-color: utils.$border-primary-color;
    }

    &__input {
      @include utils.boxSize(45%, 3rem);
      padding: 0.5rem;
      border: 1px solid utils.$border-primary-color;

      &:focus {
        border-color: #000;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        font-size: 1.2rem;
      }
    }
  }
}

.result {
  flex-basis: 75%;
  max-width: 75%;
}

@include utils.breakpoint(xl) {
  .products {
    max-width: 1200px;
  }
}

@include utils.breakpoint(lg) {
  .products {
    max-width: 992px;
  }
}

@include utils.breakpoint(md) {
  .products {
    max-width: 768px;
  }
}

@include utils.breakpoint(sm) {
  .products {
    max-width: 576px;
  }
}

@include utils.breakpoint(xs) {
  .products {
    max-width: 100%;
  }
}
