@use '~/styles/utils' as utils;

.cart {
  margin-top: 15rem;

  &__container {
    max-width: 1400px;
  }
}

.table {
  width: 100%;
  border: 1px solid utils.$border-primary-color;
  border-collapse: collapse;

  th,
  tr,
  td {
    padding: 1rem;
    border: 1px solid utils.$border-primary-color;
    text-align: center;
  }

  th {
    &:nth-child(1) {
      width: 5%;
    }

    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(6) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 25%;
    }

    &:nth-child(4) {
      width: 10%;
    }
  }

  img {
    @include utils.boxSize(30%);
    display: block;
    margin: 0 auto;
  }
}

.submit {
  display: flex;

  &__btn {
    margin-top: 3rem;
    margin-left: auto;
    padding: 1rem;
    border: none;
    min-width: 10rem;
    background-color: #f00;
    color: #fff;

    &:hover {
      cursor: pointer;
    }
  }
}

@include utils.breakpoint(xl) {
  .cart__container {
    max-width: 1200px;
  }
}

@include utils.breakpoint(lg) {
  .cart__container {
    max-width: 992px;
  }
}

@include utils.breakpoint(md) {
  .cart__container {
    max-width: 768px;
  }
}

@include utils.breakpoint(sm) {
  .cart__container {
    max-width: 576px;
  }
}

@include utils.breakpoint(xs) {
  .cart__container {
    max-width: 100%;
  }
}
