@use '~/styles/utils' as utils;

// Hot component
.hot {
  margin: 5rem auto 0;

  &__container {
    max-width: 1400px;
  }
}

.title {
  padding-bottom: 1rem;
  border-bottom: solid 1px #eee;
  font: 400 3.5rem 'Source Serif Pro', serif;
}

.content {
  @include utils.flexBox(space-between, flex-start, row);
  margin-top: 3rem;
}

// Big sale component
.big {
  @include utils.flexBox(flex-start, flex-start, column);
  flex-basis: 30%;
  width: 30%;
  padding: 2.5rem;
  border: 1px solid #eee;
  min-height: 70rem;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &__image {
    transition: utils.$transition-02-effect;

    img {
      @include utils.boxSize(100%, 50rem);
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  &-info {
    @include utils.flexBox(space-between, baseline, row);
    margin-top: auto;

    &__name {
      font-size: 2.5rem;
    }

    &__price {
      color: #f00;
      font-size: 3rem;
      font-weight: bold;

      em {
        margin-right: 1rem;
        color: #ccc;
        font-size: 2rem;
        font-weight: 400;
        text-decoration: line-through 1px #ccc;
      }
    }
  }

  &-remain {
    @include utils.flexBox(space-between, baseline, row);
    margin-top: 3rem;

    &__txt {
      font-size: 2rem;
    }

    &__time {
      font-size: 3.5rem;
    }
  }
}

// Other component
.other {
  flex-basis: 65%;
  width: 65%;
}

@include utils.breakpoint(xl) {
  .hot__container {
    max-width: 1200px;
  }
}

@include utils.breakpoint(lg) {
  .hot {
    &__container {
      max-width: 992px;
    }

    &__content {
      justify-content: flex-start;
    }
  }

  .other {
    flex-basis: 100%;
    width: 100%;
  }
}

@include utils.breakpoint(md) {
  .hot__container {
    max-width: 768px;
  }
}

@include utils.breakpoint(sm) {
  .hot__container {
    max-width: 576px;
  }
}

@include utils.breakpoint(xs) {
  .hot__container {
    max-width: 100%;
  }
}
