@use '~/styles/utils' as utils;

// Hot component
.hot {
  margin: 5rem auto 0;
}

.container {
  max-width: 1400px;
}

.title {
  padding-bottom: 1rem;
  border-bottom: solid 1px #eee;
  font: 400 3.5rem 'Source Serif Pro', serif;
}

.content {
  @include utils.flexBox(space-between, flex-start, row);
  margin-top: 3rem;
}

@include utils.breakpoint(xl) {
  .container {
    max-width: 1200px;
  }
}

@include utils.breakpoint(lg) {
  .content {
    justify-content: flex-start;
  }

  .container {
    max-width: 992px;
  }
}

@include utils.breakpoint(md) {
  .container {
    max-width: 768px;
  }
}

@include utils.breakpoint(sm) {
  .container {
    max-width: 576px;
  }
}

@include utils.breakpoint(xs) {
  .container {
    max-width: 100%;
  }
}
