@use '~/styles/utils' as utils;

.item {
  align-items: center;
  padding: 1rem;
  min-height: 35rem;
  border: 1px solid #eee;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &:hover &Img {
    transform: scale(1.1);
  }

  &Img {
    @include utils.boxSize(100%, 20rem);
    display: block;
    object-fit: cover;
    object-position: center;
    transition: utils.$transition-02-effect;
  }

  &Name {
    margin-top: auto;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
  }

  &Price {
    margin-top: 3rem;
    text-align: center;
  }
}
