@use '~/styles/utils' as utils;

.item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 35rem;
  overflow: hidden;
  border: 1px solid #eee;

  &:hover {
    cursor: pointer;
  }

  &:hover &__img {
    transform: scale(1.1);
  }

  &-image {
    img {
      @include utils.boxSize(100%, 20rem);
      display: block;
      object-fit: cover;
      object-position: center;
      transition: utils.$transition-02-effect;
    }
  }

  &__name {
    margin-top: auto;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
  }

  &__price {
    margin-top: 3rem;
    text-align: center;
  }
}
