@use '~/styles/utils' as utils;

.big {
  flex-basis: 30%;
  width: 30%;
  padding: 2.5rem;
  border: 1px solid #eee;
  min-height: 70rem;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &:hover .image {
    transform: scale(1.1);
  }
}

.image {
  transition: utils.$transition-02-effect;

  img {
    @include utils.boxSize(100%, 50rem);
    display: block;
    object-fit: cover;
    object-position: center;
  }
}

.name {
  margin-top: auto;
  font-size: 2.8rem;
  text-align: center;
}

.price {
  margin-top: 5rem;
  color: #f00;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  
  em {
    margin-right: 1rem;
    color: #ccc;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: line-through 1px #ccc;
  }
}

.remain {
  justify-content: space-between;
  align-items: baseline;
  margin-top: 3rem;

  &Txt {
    font-size: 2rem;
  }

  &Time {
    font-size: 3.5rem;
  }
}
