@use '~/styles/utils' as utils;

.link {
  padding: 5rem 0;
  border-bottom: solid 1px utils.$border-primary-color;

  &__item {
    flex-basis: calc(100% / 4);
  }

  &__title {
    color: utils.$primary-text-color;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-list {
    li {
      list-style-type: none;
      padding-top: 1.5rem;

      &:hover {
        cursor: pointer;
        color: utils.$third-text-color;
      }
    }
  }
}

@include utils.breakpoint(sm) {
  .link__item {
    flex-basis: calc(100% / 2);
  }
}
