@use '~/styles/utils' as utils;

.payment {
  margin-top: 15rem;
}

.container {
  width: 50%;
}

.bill {
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #ddd;

  &Title {
    font-size: 3rem;
  }
}

.summary {
  margin-top: 3rem;
  width: 100%;
  text-align: left;

  th,
  td {
    padding: 1rem;
  }

  th {
    width: 20%;
  }
}

.user {
  &Bill {
    font-size: 1.8rem;
  }

  &Title {
    font-size: 2rem;
  }

  &Table {
    margin-top: 1.5rem;
    width: 100%;
    text-align: left;

    th,
    td {
      padding: 1rem;
    }

    th {
      width: 20%;
    }
  }
}

.product {
  &Title {
    font-size: 2rem;
  }

  &Table {
    margin-top: 1.5rem;
    width: 100%;
    text-align: left;
  }

  th,
  td {
    padding: 1rem;
  }

  th {
    width: 35%;
  }

  td:first-of-type {
    width: 20%;
  }
}

.submit {
  margin-top: 5rem;
  width: 100%;
  min-height: 5rem;
  background-color: #000;
  color: #fff;
}
